*.o
*.a
*.so
*.dll
*.exe
blastem
blastdbg
blastdbg-static
dis
dis-static
zdis
vgmplay
termhelper
blastjag
trans
transz80
ztestrun
ztestgen
blastcpm
test
testgst
test_x86
test_arm
test_int_timing
gen_fib
offsets
core.*
